body {
    background: #f3cb1c;
    font-family: Arial, sans-serif;
    font-weight: bolder;
}
.logo-marijoa{
    width: 80%;
}
.contenedor {
    height: 100%;
}
#turno_letra {
    font-size: 200px;
    font-weight: 900;
}

#turno_actual{
    font-size: 300px;
    font-weight: 900;
}
.hora, #pendientes {
    font-size: 70px;
    font-weight: 900;
    padding-top: 30px;
}
.footer{
    font-weight: 900;
    font-size: 80px;
}