body {
    background: #f3cb1c;
    font-family: Arial, sans-serif;
    font-weight: bolder;
}
.contenedor {
    height: 100%;
}
#turno_letra {
    font-size: 200px;
}

#turno_actual{
    font-size: 300px;
}
.footer {
    font-size: 60px;
}
.hora, #pendientes {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 30px;
}